* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding-top: 80px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 5px black;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 5%;
    flex-wrap: wrap;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(107,107,107);
    font-weight: 600;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: rgb(117,197,207);
}

.navbar ul img {
    border-radius: 0 0 5px 5px;
    background-image: url("Screenshot 2026-02-25 180727.png");
    width: 40px;
    height: 45px;
    background-size: cover;
}

.table-container {
    width: 95%;
    margin: 100px auto 0 auto;
    overflow-x: auto;
}

.table-header {
    display: grid;
    grid-template-columns: 
        1.2fr 
        1fr 
        1.2fr 
        0.8fr 
        0.8fr 
        0.8fr 
        1fr 
        0.8fr;
    padding: 18px 20px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    border-bottom: 2px solid #dcdcdc;
    min-width: 900px;
}

.table-header div {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .navbar {
        height: auto;
        padding: 15px 0;
    }

    .navbar ul {
        flex-direction: column;
        gap: 15px;
    }

    .table-header {
        display: block;
        min-width: unset;
    }

    .table-header div {
        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }
}