* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    padding-top: 80px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 5px black;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 1;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 5%;
    flex-wrap: wrap;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(107,107,107);
    font-weight: 600;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: rgb(117,197,207);
}

.navbar ul img {
    border-radius: 0 0 5px 5px;
    background-image: url("Screenshot 2026-02-25 180727.png");
    width: 40px;
    height: 45px;
    margin-right: 20px;
    background-size: cover;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    margin: 100px 5% 0 5%;
}

.card {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    height: auto;
    box-shadow: 0 0 4px black;
    display: flex;
    flex-direction: column;
}

.card button {
    width: 100%;
    height: 40px;
    border: solid 2px darkcyan;
    background-color: rgb(159,220,226);
    color: white;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background-color: darkcyan;
}

.card .image {
    background-image: url("test img.avif");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card .info {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
        padding: 15px 0;
    }

    .navbar ul {
        flex-direction: column;
        gap: 15px;
    }
}