* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    padding-top: 80px;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 5px black;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 1;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
    margin-left: 400px;
}

.navbar ul li {
    font-weight: 600;
    color: rgb(107,107,107);
    transition: color 0.3s ease;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(107,107,107);
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    transition: 0.3s;
    color: rgb(117,197,207);
    cursor: pointer;
}

.navbar ul img {
    border-radius: 0 0 5px 5px;
    background-image: url("Screenshot\ 2026-02-25\ 180727.png");
    width: 40px;
    height: 45px;
    margin-right: 50px;
    background-size: cover;
}

.top {
    background-image: url("img\ 1.jpg");
    width: 100%;
    height: 450px;
    background-size: cover;
    color: white;
    text-shadow: 0 0 2px black;
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;
}

.top_msg {
    position: absolute;
    right: 400px;
    top: 50px;
    font-size: larger;
    animation: slideFromRight 1s ease forwards;
}

.top_msg button {
    width: 120px;
    height: 50px;
    background-color: rgb(117,197,207);
    border-radius: 10px;
    border: 1px solid darkcyan;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.top_msg button:hover {
    background-color: darkcyan;
}

.middle {
    margin-top: 100px;
    width: 100%;
    min-height: 700px;
    padding: 0 100px;
    position: relative;
}

.middle .top_classification {
    margin-left: 170px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 50px; 
    margin-top: 25px;
    justify-content: center;
}

.card {
    height: 280px;
    box-shadow: 0 0 4px black;
    display: flex;
    flex-direction: column;
    background: white;
}

.card button {
    width: 100%;
    height: 35px;
    border: solid 2px darkcyan;
    background-color: rgb(159,220,226);
    color: white;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: darkcyan;
    transition: 0.3s;
}

.card .image {
    background-image: url("test img.avif");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.card img {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.card .info {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usp-section {
    background: #f4f4f4;
    padding: 80px 100px;
    text-align: center;
}

.usp-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
}

.usp-title h2 {
    font-weight: 700;
    color: #555;
}

.usp-container {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    gap: 40px;
}

.usp-box {
    max-width: 260px;
    margin: 0 auto;
}

.usp-box .icon {
    width: 90px;
    height: 90px;
    border: 1px solid #6ec1d4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-size: 32px;
    color: #6ec1d4;
}

.usp-box h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #444;
}

.usp-box p {
    font-size: 14px;
    color: #777;
    line-height: 1.6;
    margin-bottom: 15px;
}

.usp-box a {
    text-decoration: none;
    color: #6ec1d4;
    font-weight: 600;
    font-size: 14px;
}